In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [7]:
data = pd.read_csv('./datasets/trains.csv')

NameError: name 'pd' is not defined

In [4]:
data

,Unnamed: 0,train_name,train_number,source,destination,distance,total_time,departure,arrival
0,0,Jammu Tawi Udhampur Special,04601,JAMMU TAWI,UDHAMPUR,53.0,0 days 01:35:00,10:40:00,12:15:00
1,1,JAT UDAHMPUR DMU,04603,JAMMU TAWI,UDHAMPUR,53.0,0 days 01:35:00,16:15:00,17:50:00
2,3,UDHAMPUR JAMMUTAWI DMU,04604,UDHAMPUR,JAMMU TAWI,53.0,0 days 01:30:00,18:20:00,19:50:00
3,4,Mumbai BandraT-Bikaner SF Special,04728,MUMBAI BANDRA TERMINUS,BIKANER JN,1212.0,0 days 21:55:00,14:35:00,12:30:00
4,5,Sirsa - Hisar Passenger Special,04741,Sirsa,Hisar,82.0,0 days 01:35:00,22:50:00,00:25:00
...,...,...,...,...,...,...,...,...,...
5202,5203,New Delhi Palwal Ladies Special,64492,NEW DELHI,PALWAL,56.0,0 days 01:30:00,17:50:00,19:20:00
5203,5204,Visakhapatnam Rajahmundry Pass,67296,VISHAKAPATNAM,RAJAMUNDRY,201.0,0 days 05:15:00,18:10:00,23:25:00
5204,5205,Madgaon Karwar Passenger,70101,MADGAON,KARWAR,82.0,0 days 01:20:00,19:00:00,20:20:00
5205,5206,Danapur Giridih Express,83112,DANAPUR,Giridih,298.0,0 days 09:30:00,19:00:00,04:30:00
5206,5207,Tribeni Link Express,84369,BARWADIH JN,BAREILLY,862.0,0 days 21:00:00,15:30:00,12:30:00

In [6]:
X = data.drop('arrival', axis=1)
Y = data['arrival']

In [9]:
numeric_features = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_features = X.select_dtypes(include=['object', 'category']).columns.tolist()

In [11]:
# numeric_features
categorical_features

['train_name',
 'train_number',
 'source',
 'destination',
 'total_time',
 'departure']

In [17]:
# data.shape
data.describe()

        Unnamed: 0     distance
count  5207.000000  5192.000000
mean   2603.999616   544.864022
std    1503.276422   696.824792
min       0.000000     0.000000
25%    1302.500000    88.000000
50%    2604.000000   227.000000
75%    3905.500000   693.000000
max    5207.000000  4279.000000

In [19]:
data = data.drop(columns=["Unnamed: 0"])
data

,train_name,train_number,source,destination,distance,total_time,departure,arrival
0,Jammu Tawi Udhampur Special,04601,JAMMU TAWI,UDHAMPUR,53.0,0 days 01:35:00,10:40:00,12:15:00
1,JAT UDAHMPUR DMU,04603,JAMMU TAWI,UDHAMPUR,53.0,0 days 01:35:00,16:15:00,17:50:00
2,UDHAMPUR JAMMUTAWI DMU,04604,UDHAMPUR,JAMMU TAWI,53.0,0 days 01:30:00,18:20:00,19:50:00
3,Mumbai BandraT-Bikaner SF Special,04728,MUMBAI BANDRA TERMINUS,BIKANER JN,1212.0,0 days 21:55:00,14:35:00,12:30:00
4,Sirsa - Hisar Passenger Special,04741,Sirsa,Hisar,82.0,0 days 01:35:00,22:50:00,00:25:00
...,...,...,...,...,...,...,...,...
5202,New Delhi Palwal Ladies Special,64492,NEW DELHI,PALWAL,56.0,0 days 01:30:00,17:50:00,19:20:00
5203,Visakhapatnam Rajahmundry Pass,67296,VISHAKAPATNAM,RAJAMUNDRY,201.0,0 days 05:15:00,18:10:00,23:25:00
5204,Madgaon Karwar Passenger,70101,MADGAON,KARWAR,82.0,0 days 01:20:00,19:00:00,20:20:00
5205,Danapur Giridih Express,83112,DANAPUR,Giridih,298.0,0 days 09:30:00,19:00:00,04:30:00
5206,Tribeni Link Express,84369,BARWADIH JN,BAREILLY,862.0,0 days 21:00:00,15:30:00,12:30:00

In [21]:
td = pd.to_timedelta(data['total_time'])
data["total_minutes"] = td.dt.total_seconds()/60
data['total_minutes']

0         95.0
1         95.0
2         90.0
3       1315.0
4         95.0
         ...
5202      90.0
5203     315.0
5204      80.0
5205     570.0
5206    1260.0
Name: total_minutes, Length: 5207, dtype: float64

In [23]:

# data = data.drop(columns=["total_time"])