In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("./datasets/ClassResult.csv")
data.sample(9)

,Unnamed: 0,Name,Roll No,Program,Branch,Semester,Status,Session,AL401- [T],AL402- [T],AL403- [P],AL404- [P],AL405- [P],AL406- [P],Result Description,SGPA,CGPA
52,66,SUDHANSHU KUSHWAH,0403AL231067,B.Tech,AL,4,Regular,June-2025,C,B,B,C+,B,B,PASS,6.21,5.75
40,52,PRAYATN FATROD,0403AL231053,B.Tech,AL,4,Regular,June-2025,C,D,B+,B+,B+,A,PASS,5.96,6.17
20,26,HARSHIT RATHOD,0403AL231027,B.Tech,AL,4,Regular,June-2025,C+,B,A,A,A,A,PASS,6.92,6.62
43,55,RAJNANDINI CHOUHAN,0403AL231056,B.Tech,AL,4,Regular,June-2025,B,C,B+,B+,B+,B+,PASS,6.46,7.01
45,58,ROHIT BHARGAV,0403AL231059,B.Tech,AL,4,Regular,June-2025,D,C,B,C+,B,C+,PASS,5.50,5.40
23,29,JAY,0403AL231030,B.Tech,AL,4,Regular,June-2025,F,D,B+,B+,A,A,Fail in AL401,4.92,5.71
50,64,SHAILY RATHORE,0403AL231065,B.Tech,AL,4,Regular,June-2025,B+,B+,A,A+,A+,A,PASS,8.04,7.50
19,24,HARIOM YADAV,0403AL231025,B.Tech,AL,4,Regular,June-2025,C+,B,A,A,A,A,PASS,7.21,6.72
10,14,DARSHAN KUSHWAH,0403AL231015,B.Tech,AL,4,Regular,June-2025,B,C,B,C+,B,B,PASS,6.08,5.89

In [6]:
data.shape

(62, 17)

In [11]:
data["Semester"].value_counts()

Semester
4    62
Name: count, dtype: int64

In [17]:
titanic = pd.read_csv('./datasets/titanic_data.csv')
titanic = titanic.drop(['Name', 'Ticket', 'Cabin'], axis=1)
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge

# imputer = IterativeImputer(
#     estimator=BayesianRidge(),
#     max_iter=10,
#     random_state=42
# )

# imputed = imputer.fit_transform(titanic)
# titanic_new = pd.DataFrame(imputed, columns=titanic.columns)
# titanic_new


# lesson -- do encoding and then use iterative encoder as it works ONLY ON NUMERICAL VALUES.